.catchUpHeading{
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.5rem;
    font-family: union-primary-font,union-sans-serif,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    padding-top: 10px;
    padding-left: 15px;
    font-weight: 700;
}

.catchUpText{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family: union-primary-font,union-sans-serif,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    margin: 25px;
    line-height: 22px;
}

.coffeeDiv{
    width : 280px;
    background-color: #B3E8FF;
    height: 450px;
    border-radius: 5%;
    transition: transform 0.8s;
}

.coffeeDiv:hover {
    transform:scale(1.25);
}

.coffeeImg{
    width : 100%;
    height : 40%;
    border-top-left-radius : 60%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.box-shadow{
    box-shadow: 4px 3px 8px 1px #969696;
    -webkit-box-shadow: 4px 3px 8px 1px #969696;
}

.coffeeButton{
    padding: 8px;
    margin-left: 25px;
    background-color: #D83D2E;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
}

.headerText{
    text-align: center;
    font-size: 1.5rem;
    font-family: union-primary-font,union-sans-serif,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    padding-left: 15px;
    font-weight: 700;
}

.headerRight{
    padding-top: 20px;
}